.sidebar{
  width: 225px;
  background-color: white;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  flex: 225px;
  border-right: 1px solid rgb(224, 216, 216);
  padding-left: 20px;
  margin-left: 0px;
}

.top-section img{
  width: 110px;
  object-fit: contain;
  background-color: white;
  
}
.top-section{
  background-color: white;
  height: 100px;
}
.middle-section{
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding-top: 15px;
}

.middle-section img{
  width: 25px;
  padding-bottom: 18.5px;
}


.icons{
 display: flex;
}


.icons-text{
  margin-left: 15px;
  margin-top: 5px;


  font-size: 16px;
  font-weight: 400px;
}


